@tailwind base;
@tailwind components;
@tailwind utilities;

/*---Reuseable Styles ------------*/
@layer components {
  .btn-primary {
    @apply bg-amber-400 text-neutral-700 px-4 py-2 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200;
  }

  .title {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold leading-snug mb-2 md:mb-4;
  }

  .bg-amber-neutral {
    background: linear-gradient(180deg, #171717, #383222, #171717);
  }

  .left-blob {
    @apply w-52 h-52 lg:w-64 lg:h-64 xl:w-80 xl:h-80 2xl:w-96 2xl:h-96 bg-color-blob absolute left-0 md:left-0 xl:left-0 -z-10 blur-3xl  opacity-10 overflow-hidden rounded-full;
  }

  .right-blob {
    @apply w-52 h-52 lg:w-64 lg:h-64 xl:w-72 xl:h-72 2xl:w-96 2xl:h-96 bg-amber-300 absolute right-10 md:right-0 lg:right-10 xl:right-6 -z-10 blur-3xl overflow-hidden rounded-full;
  }

  .customer-img {
    transition: all 0.2s ease;
  }

  .customer-img.active-pic {
    border: 2px solid #ffca28;
  }

  .customer-txt {
    display: none;
  }

  .customer-txt.active-txt {
    display: block;
    animation: moveUp 1s linear forwards;
  }

  @keyframes moveUp {
    0% {
      margin-top: 40px;
      opacity: 0;
    }

    50% {
      margin-top: 20px;
      opacity: 0.1;
    }

    100% {
      margin-top: 0px;
      opacity: 1;
    }
  }

  .toggle {
    @apply absolute inset-0 bg-neutral-100 border border-solid border-amber-400 rounded-full duration-300 before:content-['$'] before:absolute before:bg-neutral-700 before:w-7 before:h-7 before:top-[1px] before:left-[2px] before:rounded-full before:duration-300 peer-checked:before:translate-x-11 peer-checked:bg-amber-300;
  }

  .card {
    perspective: 1000px;
  }

  .front,
  .backside {
    backface-visibility: hidden;
    transition: all 0.4s ease;
  }

  .front {
    overflow: hidden;
  }

  .card-btn {
    @apply w-full px-9 py-3 lg:mt-6 bg-neutral-700 rounded-md capitalize font-bold lg:text-lg 2xl:text-xl hover:bg-amber-400 hover:text-neutral-700 ease-in duration-200 tracking-wide hover:tracking-wider hover:font-extrabold;
  }
}
