@tailwind base;
@tailwind components;
@tailwind utilities;

/*---Reuseable Styles ------------*/
@layer components {
  .btn-primary {
    @apply bg-amber-400 text-neutral-700 px-4 py-2 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200;
  }

  .title {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold leading-snug mb-2 md:mb-4;
  }

  .bg-amber-neutral {
    background: linear-gradient(180deg, #171717, #383222, #171717);
  }

  .left-blob {
    @apply w-52 h-52 lg:w-64 lg:h-64 xl:w-80 xl:h-80 2xl:w-96 2xl:h-96 bg-color-blob absolute left-0 md:left-0 xl:left-0 -z-10 blur-3xl  opacity-30 overflow-hidden rounded-full;
  }

  .right-blob {
    @apply w-52 h-52 lg:w-64 lg:h-64 xl:w-72 xl:h-72 2xl:w-96 2xl:h-96 bg-amber-300 absolute right-10 md:right-0 lg:right-10 xl:right-6 -z-10 blur-3xl overflow-hidden rounded-full;
  }

  .customer-img {
    transition: all 0.2s ease;
  }

  .customer-txt {
    display: none;
  }

  .customer-txt.active-txt {
    display: block;
    animation: moveUp 1s linear forwards;
  }

  @keyframes moveUp {
    0% {
      margin-top: 40px;
      opacity: 0;
    }

    50% {
      margin-top: 20px;
      opacity: 0.1;
    }

    100% {
      margin-top: 0px;
      opacity: 1;
    }
  }
}
